# For projects using nanoc (http://nanoc.stoneship.org/)

# Default location for output, needs to match output_dir's value found in config.yaml
output/

# Ruby bundle files.
.bundle/

# Temporary file directory
tmp/

# Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.log
