---
title: Archive
---
<h1>Archive</h1>

<ul>
<% sorted_articles.each do |post| %>
    <li>
        <%= link_to post[:title], post.path %>
        <aside>Posted at: <%= post[:created_at] %></aside>
    </li>
<% end %>
</ul>

<p class="pull-right"><a href="/">Back &rarr;</a></p>