---
title: Nicolas Hillegeer - blog archive
description: Blog archive
tags: [blog, archive, old]
---
<h1>Archive</h1>

<ul>
<% sorted_articles.each do |post| %>
    <% unless post[:draft] %>
        <li>
            <%= post[:created_at] %> - <%= link_to post[:title], post.path %>
        </li>
    <% end %>
<% end %>
</ul>

<p class="pull-right"><a href="/">Back &rarr;</a></p>
