---
title: Drafts
---
<% sorted_articles.each do |post| %>
    <% if post[:draft] %>
        <div class="post-list">
            <h2><%= link_to post[:title], post.path %></h2>
            <aside>Posted on <%= get_pretty_date(post) %></aside>

            <article>
                <%= get_post_start(post) %>
            </article>
        </div>
    <% end %>
<% end %>
<p><a href="/archive">&larr; Archive</a></p>