---
description: The personal blog of Nicolas Hillegeer, developer and engineer
tags: [blog, development, c, c++, lua, freelance, hire, AI]
---
<% sorted_articles[0, 7].each do |post| %>
    <% unless post[:draft] %>
        <div class="post-list">
            <h2><%= link_to post[:title], post.path %></h2>
            <aside>Posted on <%= get_pretty_date(post) %></aside>

            <article>
                <%= get_post_start(post) %>
            </article>
        </div>
    <% end %>
<% end %>
<p><a href="/archive">&larr; Archive</a></p>
