body {
    font-size: 13px;
    font-family: "EB Garamond", serif;
    font-style: normal;
    font-weight: 400;
}

main {
    margin: 0 auto;
    width: 650px;
    text-align: justify;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    text-rendering: optimizeLegibility;
    text-align: initial; /* Reset text-align: justify from main */
}

h1 {
    font-size: 64px;
    line-height: 73px;
    margin-bottom: 25px;
}

h2 {
    font-size: 36px;
    line-height: 39px;
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

h4 {
    font-size: 26px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 35px;
    text-rendering: optimizeLegibility;
    text-indent: 16px;
    text-wrap: pretty;
}

article aside {
    font-size: 21px;
    font-style: italic;
}

sup {
    /*vertical-align: super;*/
    font-size: 0.8em;
    line-height: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #de3961;
}

a:hover {
    color: #2ba6cb;
}

::selection{
    background: #b3eecc;
}

::-moz-selection{
    background: #b3eecc;
}

strong {
    color: #A30006;
}

article ol {
    padding-left: 3em;
}

article ul, article ol, article dl {
    font-size: 21px;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
}

article dt {
    /* Render similarly to <strong>, this avoids having to add explicit bolding
     * in definition lists. */
    color: #A30006;
    font-weight: bold;
}

article ul {
    padding-left: 3em;
}

article ul, article ol {
    margin-left: 0;
}

article li, article li p {
    text-indent: 0!important;
    margin-bottom: 17px;
    text-rendering: optimizeLegibility;
}

/* sidebar */

nav {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 200px;
    padding: 20px 20px 0 0;
    border-right: 1px solid #ccc;
    text-align: right;
}

nav h2 {
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 20px;
}

nav ul {
    list-style-type: none;
    margin: 20px 0;
}

nav li {
    font-size: 18px;
    line-height: 26px;
}

table {
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
}

caption {
    font-size: larger;
    margin: 1em auto;
}

th, td {
    padding: .65em;
}

th, thead {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

td {
    border: 1px solid #777;
}

/* portrait vs landscape: http://www.javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml */

@media screen and (max-width: 1180px) {
    main {
        position: absolute;
        top: 40px;
        left: 280px;
    }
}

@media screen and (max-width: 940px) {
    main {
        position: static;
        margin: 0 auto;
    }

    nav {
        position: static;
        margin: 0 auto;

        padding: 0;
        border: none;
        text-align: start;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 10px;
    }

    nav ul > li {
        display: inline-block; /* You can also add some margins here to make it look prettier */
        zoom: 1;
        *display: inline; /* this fix is needed for IE7- */
    }

    nav ul > li:after {
        content: " \00b7";
    }

    nav ul > li:last-child:after {
        content: none;
    }

    h1 {
        font-size: 36px;
        line-height: 39px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

@media screen and (max-width: 940px) {
    main { width: 650px; }
    nav { width: 650px; }
}

@media screen and (max-width: 690px) {
    main { width: 600px; }
    nav { width: 600px; }
}

/* iphone 5 landscape */
@media screen and (max-width: 640px) {
    main { width: 550px; }
    nav { width: 550px; }
}

@media screen and (max-width: 580px) {
    main { width: 520px; }
    nav { width: 520px; }
}

@media screen and (max-width: 540px) {
    main { width: 460px; }
    nav { width: 460px; }
}

@media screen and (max-width: 480px) {
    main { width: 430px; }
    nav { width: 430px; }
}

@media screen and (max-width: 440px) {
    main { width: 390px; }
    nav { width: 390px; }
}

@media screen and (max-width: 400px) {
    main { width: 380px; }
    nav { width: 380px; }
}

@media screen and (max-width: 380px) {
    main { width: 350px; }
    nav { width: 350px; }
}

/* galaxy */
@media screen and (max-width: 360px) {
    main { width: 340px; }
    nav { width: 340px; }
}

/* iphone 4+ */
@media screen and (max-width: 340px) {
    main { width: 300px; }
    nav { width: 300px; }
}
