h1, h2, h3, h4, h5 {
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 64px;
    line-height: 73px;
    margin-bottom: 25px;
}

h2 {
    font-size: 36px;
    line-height: 39px;
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

h4 {
    font-size: 26px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

p, .read-more {
    /*
    font-size: 17px;
    line-height: 26px;
    */
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 35px;
    text-rendering: optimizeLegibility;
}

.math, p .math {
    font-size: 14px;
}

aside {
    font-size: 21px;
    font-style: italic;
}

p.weights {
    letter-spacing: 2px;
    font-size: 13px;
    color: rgba(173,173,173,1);
    margin-bottom: 35px;
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    margin-top: 45px;
}

p.pullquote {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 35px;
    padding-left: 15px;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    font-weight: 700;
}

p.map {
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    text-align: justify;
    font-size: 27px;
    line-height: 54px;
    margin-top: 0px;
}

p.heading {
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 35px;
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    margin-top: 45px;
    color: rgba(0,0,0,1);
}


p.inverse-big {
    background-color: rgba(51,51,51,1);
    color: rgba(255,255,255,1);
    padding: 30px;
    margin-bottom: 0px;
}

p.inverse-med {
    background-color: rgba(51,51,51,1);
    color: rgba(255,255,255,1);
    padding: 30px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: 15px;
}

p.inverse-small {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: rgba(51,51,51,1);
    color: rgba(255,255,255,1);
    font-size: 13px;
}

p.inverse-heading {
    background-color: rgba(51,51,51,1);
    color: rgba(255,255,255,1);
    padding: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 50px;
}

body {
    font-size: 13px;
    font-family: "EB Garamond", serif;
    font-style: normal;
    font-weight: 400;
}

p.variation-0 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 30px;
}

p {
    text-indent: 16px;
}

/* custom */

main {
    margin: 0 auto;
    width: 650px;
}

sup {
    /*vertical-align: super;*/
    font-size: 0.8em;
    line-height: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #de3961;
}

a:hover {
    color: #2ba6cb;
}

::selection{
    background: #b3eecc;
}

::-moz-selection{
    background: #b3eecc;
}

/* inline code shouldn't affect the line-height */
p code {
    line-height: 0;
}

.reversefootnote {
    font-size: medium;
}

main ul, main ol, main dl {
    font-size: 21px;
}

article ol {
    padding-left: 3em;
}

article ul, article ol, article dl {
    font-size: 21px;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
}

article ul {
    list-style-position: inside;
    padding-left: 3em;
}

article ul, article ol {
    margin-left: 0;
}

article li, article li p {
    text-indent: 0!important;
    margin-bottom: 17px;
    text-rendering: optimizeLegibility;
}

/* sidebar */

nav {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 200px;
    padding: 20px 20px 0 0;
    border-right: 1px solid #ccc;
    text-align: right;
}

nav h2 {
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 20px;
}

nav ul {
    list-style-type: none;
    margin: 20px 0;
}

nav li {
    font-size: 18px;
    line-height: 26px;
}

/* mobile browser optimisations */

/* portrait vs landscape: http://www.javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml */

@media screen and (max-width: 1180px) {
    main {
        position: absolute;
        top: 40px;
        left: 280px;
    }
}

@media screen and (max-width: 940px) {
    main {
        position: static;
        margin: 0 auto;
    }

    nav {
        position: static;
        margin: 0 auto;

        padding: 0;
        border: none;
        text-align: start;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 10px;
    }

    nav ul > li {
        display: inline-block; /* You can also add some margins here to make it look prettier */
        zoom: 1;
        *display: inline; /* this fix is needed for IE7- */
    }

    nav ul > li:after {
        content: " \00b7";
    }

    nav ul > li:last-child:after {
        content: none;
    }

    h1 {
        font-size: 36px;
        line-height: 39px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

@media screen and (max-width: 940px) {
    main { width: 650px; }
    nav { width: 650px; }
}

@media screen and (max-width: 690px) {
    main { width: 600px; }
    nav { width: 600px; }
}

/* iphone 5 landscape */
@media screen and (max-width: 640px) {
    main { width: 550px; }
    nav { width: 550px; }
}

@media screen and (max-width: 580px) {
    main { width: 520px; }
    nav { width: 520px; }
}

@media screen and (max-width: 540px) {
    main { width: 460px; }
    nav { width: 460px; }
}

@media screen and (max-width: 480px) {
    main { width: 430px; }
    nav { width: 430px; }
}

@media screen and (max-width: 440px) {
    main { width: 390px; }
    nav { width: 390px; }
}

@media screen and (max-width: 400px) {
    main { width: 380px; }
    nav { width: 380px; }
}

@media screen and (max-width: 380px) {
    main { width: 350px; }
    nav { width: 350px; }
}

/* galaxy */
@media screen and (max-width: 360px) {
    main { width: 340px; }
    nav { width: 340px; }
}

/* iphone 4+ */
@media screen and (max-width: 340px) {
    main { width: 300px; }
    nav { width: 300px; }
}
